.container {
  margin: 0 auto;

  max-width: 1110px;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 39px;
    max-width: 768px;
  }
}

@media only screen and (max-width: 428px) {
  .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 428px;
  }
}
